.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button{
    height: 80px;
    width: 30%;
}
.first{
    background-color: #00FFFF;
}
.second{
    background-color: #02FE04;
}
.third{
    background-color: #FF00FE;
}
h1{
    text-align: center;
    color: #FF00FE;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    margin: auto;
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
}
